body {
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.2)), url("https://hips.hearstapps.com/hmg-prod/images/spotive-man-and-woman-lifting-heavy-barbells-royalty-free-image-1569601646.jpg") no-repeat center center fixed;
  /* background: rgb(176, 173, 173) no-repeat cover;
  background: linear-gradient(50deg, rgb(49, 49, 49), rgb(236, 232, 232)); */
  display: block;
  position: relative;
  /* margin: 0; */
  /* padding: 0; */
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

/* All pages header  */
header, footer {
  position:relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 30px;
  width: 100vw;
}
header, a {
  color: white;
  font-size: small;
}

footer {
  position: absolute;
  bottom: 0;
  color: white;
}
/* Muscle group box */
.muscle-table {
  position: relative;
}
.muscle-groups {
  position: absolute;
  /* float: left; */
  background: rgba(238, 238, 238, 0.909);
  width: 60%;
  height: calc(60vh - 50px);
  height: -moz-calc(60vh - 50px);
  height: -webkit-calc(60vh - 50px);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-top: 0.75rem solid #00bbd4d0;
  top: 185px;
  /* display: none; */
}
.muscle-groups h1 {
  margin: -0.5rem -1rem 1rem;
  padding: 0 1rem 0.75rem;
  background: #00bbd4d0;
  color: #eee;
  text-align: center;
  font-size: 1.25rem;
}
.muscle-groups h2 {
  margin: 0 0 0.5rem;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.muscle-groups label + h2 {
  margin-top: 1rem;
}
.muscle-groups label {
  width: 50px;
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 0.7rem;
  opacity: 0.5;
  position: relative;
  z-index: 200;
  border-left: 5px solid transparent;
  padding-left: 6px;
  margin-left: -11px;
}
.muscle-groups label:hover, .muscle-groups label.hover {
  opacity: 1;
  border-color: rgba(51, 51, 51, 0.75);
}
.muscle-groups input:checked + label {
  opacity: 1;
  font-weight: bold;
  color: #00BCD4;
}
.muscle-groups svg {
  position: absolute;
  right: -1.5rem;
  bottom: 3rem;
  height: 350px;
  z-index: 100;
}
.muscle-groups svg g[id] path {
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
}
.muscle-groups svg g g[id]:hover path {
  cursor: pointer;
  opacity: 0.5;
  fill: #00BCD4 !important;
}
.muscle-groups .muscles-helper {
  display: none;
}
.muscle-groups label[for=obliques]:hover ~ svg #Obliques path {
  opacity: 0.75;
}
.muscle-groups .obliques:checked ~ svg #Obliques path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=abs]:hover ~ svg #Abs path {
  opacity: 0.75;
}
.muscle-groups .abs:checked ~ svg #Abs path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=quads]:hover ~ svg #Quads path {
  opacity: 0.75;
}
.muscle-groups .quads:checked ~ svg #Quads path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=biceps]:hover ~ svg #Biceps path {
  opacity: 0.75;
}
.muscle-groups .biceps:checked ~ svg #Biceps path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=adductors]:hover ~ svg #Adductors path {
  opacity: 0.75;
}
.muscle-groups .adductors:checked ~ svg #Adductors path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=pectorals]:hover ~ svg #Pectorals path {
  opacity: 0.75;
}
.muscle-groups .pectorals:checked ~ svg #Pectorals path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=deltoids]:hover ~ svg #Deltoids path {
  opacity: 0.75;
}
.muscle-groups .deltoids:checked ~ svg #Deltoids path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=hamstrings]:hover ~ svg #Hamstrings path {
  opacity: 0.75;
}
.muscle-groups .hamstrings:checked ~ svg #Hamstrings path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=quads]:hover ~ svg #Quads path {
  opacity: 0.75;
}
.muscle-groups .quads:checked ~ svg #Quads path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=forearms]:hover ~ svg #Forearms path {
  opacity: 0.75;
}
.muscle-groups .forearms:checked ~ svg #Forearms path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=calves]:hover ~ svg #Calves path {
  opacity: 0.75;
}
.muscle-groups .calves:checked ~ svg #Calves path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=triceps]:hover ~ svg #Triceps path {
  opacity: 0.75;
}
.muscle-groups .triceps:checked ~ svg #Triceps path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=glutes]:hover ~ svg #Glutes path {
  opacity: 0.75;
}
.muscle-groups .glutes:checked ~ svg #Glutes path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=lats]:hover ~ svg #Lats path {
  opacity: 0.75;
}
.muscle-groups .lats:checked ~ svg #Lats path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for=trapezius]:hover ~ svg #Trapezius path {
  opacity: 0.75;
}
.muscle-groups .trapezius:checked ~ svg #Trapezius path {
  opacity: 0.8;
  fill: #00BCD4 !important;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 2rem 0;
}
main .info {
  font-size: 0.8rem;
  display: block;
  width: 250px;
  padding-top: 200px;
  color: #eee;
  padding-left: 2rem;
  opacity: 0.5;
}
main .info:hover {
  opacity: 1;
}
main .info a {
  color: #eee;
}

/* index page css */
.index-page {
  position: relative;
  font-family: Roboto;
  columns: 2;
  border: solid black;
  overflow: hidden;
} 
.muscle-title {
  width: 100vw;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: -70px;
  text-align: center;
  font-size: 50px;
  /* border: solid black */
}
.comments {
position: relative;
}
.comments-header {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 5%;
}

.comment-thread {
  position:relative;
  width: 400px;
  max-width: 100%;
  margin: auto;
  padding: 0 30px;
 /* background: rgba(176, 173, 173, 0.6) no-repeat cover; */
  /* background: linear-gradient(50deg, #00bbd458, #29b5c7d0); */
  background: linear-gradient(50deg, #00bbd4ab, #0de1fc9d);
  border: 1px solid transparent; /* Removes margin collapse transparent */
  list-style: none;
  top:-20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  color: rgb(50, 41, 41);
}
.comment-body {
 display: block;
 color: black;
}
.comment-body:hover {
  color: white;
}

.comment-heading {
  /* display: flex; */
  display: inline-block;
  /* align-items: center; */
  padding-top: 5px;
  height: 50px;
  font-size: 12px;
}
.group-header {
  font-weight: bold;
}
.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.comment-author {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
}
.comment-author:hover {
  text-decoration: underline;
}

/* Show and New page css */
.form-box {
  width: 35%;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-top: 0.75rem solid #3e494b;
  background: linear-gradient(50deg, #00bbd4ab, #0de1fc9d);
  /* background: linear-gradient(50deg, rgba(76, 143, 194, 0.7), rgba(179, 210, 238, 0.9)); */
  padding-bottom: 10px;

  /* border: solid black; */
}

.btns {
  display: inline-block;
  padding: 5px;
 
}

.show-page, .edit-page, .new-page, .login-page, .signup-page {
  margin-bottom: 10px;
  text-align: center;
  /* padding: 2rem 0; */
}
.new-page {

}
.show-page > .muscle-table{
  display: none;
}
.new-page  > .muscle-table{
  display: none;
}
.edit-page > .muscle-table{
  display: none;
}
.login-page > .muscle-table{
  display: none;
}
.signup-page > .muscle-table{
  display: none;
}
.show-page > .muscle-title{
  margin-bottom: 10px;
}
.new-page  > .muscle-title{
  margin-bottom: 10px;
}
.edit-page > .muscle-title{
  margin-bottom: 10px;
}
.login-page > .muscle-title{
  margin-bottom: 10px;
}
.signup-page > .muscle-title{
  margin-bottom: 10px;
}